{% extends "layout.html" %} {% load static %} {% block body %} {% if user.is_authenticated %}

<!--classes display section-->
<div class="card-body">
	{% for course in courses %}
	<div class="card text-bg-light mb-2">
		<div class="card-header">
			<a>{{course.level}}</a>
		</div>
		<div class="card-body">
			<a class="card-title" href="{% url 'course' id=course.id %}">{{course.code}} - {{course.subject}}</a>
		</div>
	</div>
	{% endfor %}
</div>
<!---->
{% else %}

<input type="hidden" action="{% url 'register' %}" />
{% endif %} {% endblock %}
