{% extends "layout.html" %} {% load static %} {% block body %}
<div class="course-body">
	<div id="course-header">
		<a href="{% url 'course' id=course.id %}"><</a>
		<a>{{course.code}} - {{course.subject}}</a>
	</div>
	<!-- student list display -->
	<div class="course-students card w-auto">
		<a class="card-title m-2 font-weight-bold" id="info-title">Students</a>
		<div class="list-group">
			{% for student in students %}
			<a class="list-group-item"> {{student}}</a>
			{% endfor %}
		</div>
	</div>
	<!---->
</div>

{% endblock %}
